@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1920px;
    max-height: 1200px;
    
    width: 100vw;
    height: 100vh;

    border: 1px solid black;

    font-family: 'Ubuntu', sans-serif;

    background-image: linear-gradient(rgb(109, 109, 199),gray)
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.title{
    font-size: 1.2rem;
}


.areaDeConversao{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 20em;
    margin:0 0px 20px 0;
    text-align: center;
}
.entrada{
    display: block;
    margin: 15px auto 5px auto;
    padding: 10px;
    font-size: 1rem;

}
.opcoe{
    display: block;
    margin: 5px auto;
    padding: 10px;
}
.botao{
    padding: 10px;
    margin: 5px auto;
}
.convercao{
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    margin: 5px auto 20px auto;
    padding: 10px;
}
